/* Makerspace Webpage Style Code*/
:root{
    --fontHeader1: "helectiva,sans-serif";
    
}

body {
    background: white;
    padding: -10px;
}

* {
    margin: 0;
    padding: 0;
  }

/*BEGINING OF NAVBAR STYLING*/

/*Class Navbar Styling*/
.navbar {
    background: grey;
    overflow: hidden;
    position: static;
    margin: 0;
    height: 40px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/*class Logo, element img styling*/
.logo img {
    height: 80px; 
    padding: 5px;
}

/*class navbar, class nav-list styling*/
.navbar .nav-list {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

/*class navbar, class nav-item styling*/
.navbar .nav-item {
    margin: 0 15px;
}

/*class navbar, class nav-item, element a styling*/
.navbar .nav-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
    padding: 18px 20px;
    display: block;
}

/*class navbar, class nav-item, element a, psudo-selector hover styling*/
.navbar .nav-item a:hover {
    background-color: #ffffff5b;
}
/*END OF NAVBAR STYLING*/

/*class page title font styling*/
.page-title {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    /*background-color: green;*/
    text-align: center;
    position: static;
    margin: 20px;

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: auto;
    padding: 5px;
    margin: 5px;
    background: lightblue;
}

.button-container a {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

/*footer section style*/
.footer {
    background-color: #333;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
}
